<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.admin.center.mapper.CustomerAccountDOMapper">
    <!-- 结果集 -->
    <resultMap type="com.lc.admin.center.model.CustomerAccountDO" id="Base_Result_Map">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="BIGINT"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
        <result property="invalid" column="invalid" jdbcType="TINYINT"/>
        <result property="dtCreated" column="dt_created" jdbcType="TIMESTAMP"/>
        <result property="dtModified" column="dt_modified" jdbcType="TIMESTAMP"/>
        <result property="dtCreate" column="dt_create" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, login_name, email, phone, id_card, pwd, invalid, dt_created, dt_modified, dt_create    </sql>
    
    <!-- 查询单个 -->
    <select id="selectByPrimaryKey" resultMap="Base_Result_Map">
        select
          <include refid="Base_Column_List" />
        from customer_account
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 分页查询 -->
    <select id="selectByPageRequest" resultMap="Base_Result_Map">
        
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectBySelectedDO" parameterType = "com.lc.admin.center.model.CustomerAccountDO" resultMap="Base_Result_Map">
        select
        <include refid="Base_Column_List" />
        from customer_account
        <where>
            <if test="id != null">
                and id = #{id,jdbcType = BIGINT}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName,jdbcType = VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType = VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType = BIGINT}
            </if>
            <if test="idCard != null">
                and id_card = #{idCard,jdbcType = VARCHAR}
            </if>
            <if test="pwd != null">
                and pwd = #{pwd,jdbcType = VARCHAR}
            </if>
            <if test="invalid != null">
                and invalid = #{invalid,jdbcType = TINYINT}
            </if>
            <if test="dtCreated != null">
                and dt_created = #{dtCreated,jdbcType = TIMESTAMP}
            </if>
            <if test="dtModified != null">
                and dt_modified = #{dtModified,jdbcType = TIMESTAMP}
            </if>
            <if test="dtCreate != null">
                and dt_create = #{dtCreate,jdbcType = TIMESTAMP}
            </if>
        </where>
    </select>
    
    <insert id="countBySelectedDO">
    
    </insert>

    <!-- 新增所有列 -->
    <insert id="insert" parameterType = "com.lc.admin.center.model.CustomerAccountDO">
        <selectKey keyProperty="id" order = "AFTER" resultType = "INTEGER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into customer_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="invalid != null">
                invalid,
            </if>
            <if test="dtCreated != null">
                dt_created,
            </if>
            <if test="dtModified != null">
                dt_modified,
            </if>
            <if test="dtCreate != null">
                dt_create,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType = BIGINT}
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType = VARCHAR}
            </if>
            <if test="email != null">
                #{email,jdbcType = VARCHAR}
            </if>
            <if test="phone != null">
                #{phone,jdbcType = BIGINT}
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType = VARCHAR}
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType = VARCHAR}
            </if>
            <if test="invalid != null">
                #{invalid,jdbcType = TINYINT}
            </if>
            <if test="dtCreated != null">
                #{dtCreated,jdbcType = TIMESTAMP}
            </if>
            <if test="dtModified != null">
                #{dtModified,jdbcType = TIMESTAMP}
            </if>
            <if test="dtCreate != null">
                #{dtCreate,jdbcType = TIMESTAMP}
            </if>
        </trim>
    </insert>
    
    <!-- 批量新增 -->
    <insert id="batchInsert" parameterType = "com.lc.admin.center.model.CustomerAccountDO">
        insert into customer_account(id, login_name, email, phone, id_card, pwd, invalid, dt_created, dt_modified, dt_create)
        values 
        <foreach collection="list" item="item" index="index" separator=",">
        (
                            #{item.id,jdbcType=BIGINT},
                            #{item.loginName,jdbcType=VARCHAR},
                            #{item.email,jdbcType=VARCHAR},
                            #{item.phone,jdbcType=BIGINT},
                            #{item.idCard,jdbcType=VARCHAR},
                            #{item.pwd,jdbcType=VARCHAR},
                            #{item.invalid,jdbcType=TINYINT},
                            #{item.dtCreated,jdbcType=TIMESTAMP},
                            #{item.dtModified,jdbcType=TIMESTAMP},
                            #{item.dtCreate,jdbcType=TIMESTAMP}
                     )
         </foreach>
    </insert>

    <!-- 通过主键修改数据 -->
    <update id="updateBySelectedDO" parameterType = "com.lc.admin.center.model.CustomerAccountDO">
        update admin_center.customer_account
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=BIGINT},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="invalid != null">
                invalid = #{invalid,jdbcType=TINYINT},
            </if>
            <if test="dtCreated != null">
                dt_created = #{dtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModified != null">
                dt_modified = #{dtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="dtCreate != null">
                dt_create = #{dtCreate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType = "java.lang.Long">
        delete from customer_account where id = #{id,jdbcType=BIGINT}
    </delete>
    
   
</mapper>

