# Default ignored files
../.idea/

/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\java-2021-03\WORKS\base-workspace\admin-center\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
